body {
    font-family: Verdana;
}
.rangepicker {
    cursor: arrow;
    width: 20em;
    margin: 4em auto;
    background: #000;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0.5em;
    -moz-box-shadow:    6px 6px 6px 2px #666;
    -webkit-box-shadow: 6px 6px 6px 2px #666;
    box-shadow:         6px 6px 6px 2px #666;
    font-size: 90%;
}
.rangedisplay,
.menu {
    width: 40em;
    margin: 2em auto;
    text-align: center;
    font-size: 1.4em;
    color: #666;
}
.menu a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em;
}
.menu a.active {
    background: #ccc;
}
.menu a:hover {
    background: #ccc;
}
.datefrom,
.dateto {
    font-weight: bold;
    color: #666;
}
.rangepicker a {
    color: #eee;
    text-decoration: none;
}
.day {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 14.28571428571429%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.enabled {
}
a.disabled {
    color: #999;
}
.calendar {
    margin: 1em 0;
}
.calendar .included {
    background-color: #666;
}
.calendar .today {
    background-color: #6c6;
}
.calendar .selected {
    background-color: #c66;
}
.day:hover {
    background-color: #66c;
}
.nav {
    width: 100%;
    height: 2em;
    line-height: 2em;
}
.nav .prev,
.nav .next,
.nav .display {
    display: inline-block;
    text-align: center;
}
.nav .prev,
.nav .next {
    width: 20%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.nav .prev:hover,
.nav .next:hover {
    background-color: #66c;
}
.nav .display {
    color: #eee;
    font-weight: bold;
    width: 60%;
}
.range {
    width: 100%;
    height: 2em;
    line-height: 2em;
    margin-top: 0.5em;
}
.range .from:hover,
.range .today:hover,
.range .to:hover {
    background-color: #66c;
}
.range .from,
.range .today,
.range .to {
    background-color: #333;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    width: 33.33333333%;
    text-align: center;
}
.week {
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
}
.mode {
    width: 100%;
    height: 2em;
    line-height: 2em;
}
.mode .fixed,
.mode .custom {
    line-height: 2em;
    height: 2em;
    display: inline-block;
    width: 48%;
    margin: 1%;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #333;
}

.mode .selected,
.mode .selected {
    background-color: #6c6;
}

.mode .fixed:hover,
.mode .custom:hover {
    background-color: #66c;
}
