body {
    font-family: Helvetica, Arial, Verdana, Sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.nav {
    width: 21em;
    margin: 3em auto 1em auto;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
}

.nav a {
    margin: 1em;
}

.nav .active {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    width: 21em;
}

.rangepicker {
    margin: 2em auto;
    text-align: center;
    background-color: #eee;
    padding: 1em;
    border-radius: 10px;
}

.navigation .prev,
.navigation .next {
    display: inline-block;
    width: 10%;
    background: #eee;
    height: 1.5em;
    line-height: 1.5em;
}

.navigation .display {
    display: inline-block;
    width: 60%;
    background: #eee;
    height: 1.5em;
    line-height: 1.5em;
}

.range {
    padding: 0.5em 0;
}

.range .from,
.range .today,
.range .to {
    width: 33.333333%;
    display: inline-block;
    background: #eee;
    height: 1.5em;
    line-height: 1.5em;
}

.calendar .day {
    display: inline-block;
    width: 14.285714%;
    background: #eee;
    height: 1.5em;
    line-height: 1.5em;
}

.calendar .included {
    background-color: #999;
}

.calendar .today {
    background-color: #9c9;
}

.calendar .selected {
    background-color: #c99;
}

.calendar .disabled {
    color: #ccc;
    font-weight: normal;
}

.calendar .disabled:hover {
    color: #333;
    font-weight: bold;
}

.rangepicker .mode {
    padding-top: 0.5em;
}

.mode .fixed,
.mode .custom {
    display: inline-block;
    width: 50%;
    background: #eee;
    height: 1.5em;
    line-height: 1.5em;
}

.mode .active {
    text-decoration: underline;
}

.rangedisplay {
    margin: 2em auto;
    width: 21em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
}
